[Unit]
Description=Prometheus Node Exporter
After=network.target

[Service]
Type=simple
User={{ node_exporter_user }}
Group={{ node_exporter_user }}
ExecStart={{ node_exporter_install_dir }}/node_exporter \
    --web.listen-address=:{{ node_exporter_port }} \
    --collector.systemd \
    --collector.textfile.directory={{ node_exporter_textfile_dir }} \
    --collector.filesystem.mount-points-exclude=^/(sys|proc|dev|run|var/lib/docker|var/lib/containers)($|/) \
    --collector.filesystem.fs-types-exclude=^(autofs|binfmt_misc|bpf|cgroup2?|configfs|debugfs|devpts|devtmpfs|fusectl|hugetlbfs|iso9660|mqueue|nsfs|overlay|proc|procfs|pstore|rpc_pipefs|securityfs|selinuxfs|squashfs|sysfs|tracefs)$

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
