[IN]

# Allow Prometheus node exporter
ACCEPT -source 10.0.0.0/8 -dest {{ node_exporter_port }}
ACCEPT -source 192.168.0.0/16 -dest {{ node_exporter_port }}
ACCEPT -source 172.16.0.0/12 -dest {{ node_exporter_port }}
