[Unit]
Description=AlbyHub Service
After=network.target

[Service]
Type=simple
User=bitcoin
ExecStart=/usr/local/bin/albyhub
Restart=on-failure
RestartSec=60
RemainAfterExit=yes
KillMode=process
Environment=XDG_DATA_HOME=/opt PORT={{ albyhub_port }} LN_BACKEND_TYPE=LND LND_ADDRESS=127.0.0.1:10009 LND_CERT_FILE=/opt/lnd/tls.cert LND_MACAROON_FILE=/opt/lnd/data/chain/bitcoin/mainnet/admin.macaroon

[Install]
WantedBy=multi-user.target
